<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/main">Main Page</a>
<div>Лабораторная работа 8</div>
<div>
    <div>
        <label>Дано n битовое данное. Задана перестановка бит (1, 8, 23, 0, 16, … ). Написать
            функцию, выполняющую эту перестановку.  </label>
    </div>
    <div>
        <form method = "post">
            <input type="text" name = "number" placeholder="Введите число">
            <input type="text" name = "num_p" placeholder="Введите порядок">
            <button type="submitFirst">посчитать</button>
        </form>
    </div>

    <div>Результат: {{num}}</div>
</div>

</body>
</html>
