<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/main">Main Page</a>
<div>Лабораторная работа 1</div>
<div>
    <div>
        <label>1. Вывести k −ый бит числа a. Номер бита предварительно запросить у
            пользователя.</label>
    </div>
    <form method = "post">
        <input type="text" name = "number" placeholder="Введите число">
        <input type="text" name = "bitOfNumber" placeholder="Введите номер бита">
        <button type="submit">Вычислить</button>
    </form>

    <div>Результат: {{num}}</div>
    <div>
        <label>2. Установить/снять k −ый бит числа a</label>
    </div>
    <form method = "post">
        <input type="text" name = "numberSecond" placeholder="Введите число">
        <input type="text" name = "bitOfNumberSecond" placeholder="Введите номер бита">
        <button type="submit">Вычислить</button>
    </form>
    <div>Результат: {{num2}}</div>
</div>

</body>
</html>
