<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background: #000 url(back.jpg); /* Фоновый цвет и фоновый рисунок*/
            color: #fff; /*Цвет текста на странице*/
            background-attachment: fixed; /* Фон страницы фиксируется */
            background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
        }
    </style>
</head>
<body  >

<div>Лабораторная работа 1</div>
<div><a href="/lab1.1">Лабораторная работа 1.1</a> </div>
<div><a href="/lab1.2">Лабораторная работа 1.2</a> </div>
<div><a href="/lab1.3">Лабораторная работа 1.3</a> </div>
<div><a href="/lab1.4">Лабораторная работа 1.4</a> </div>
<div><a href="/lab2a">Лабораторная работа 2a</a> </div>
<div><a href="/lab2b">Лабораторная работа 2b</a> </div>
<div><a href="/lab3">Лабораторная работа 3</a> </div>
<div><a href="/lab4">Лабораторная работа 4</a> </div>
<div><a href="/lab5">Лабораторная работа 5</a> </div>
<div><a href="/lab6">Лабораторная работа 6</a> </div>
<div><a href="/lab7">Лабораторная работа 7</a> </div>
<div><a href="/lab8">Лабораторная работа 8</a> </div>
<div><a href="/vernam">Лабораторная работа Вернам</a> </div>
<div><a href="/DES">Лабораторная работа DES</a> </div>
<div><a href="/RC4">Лабораторная работа RC4</a> </div>
<div>Лабораторная работа 2</div>
<div><a href="/primeNumbers">Лабораторная работа простые числа</a> </div>
<div><a href="/rds">Лабораторная работа система вычетов по модулю</a> </div>
<div><a href="/euler">Лабораторная работа функция Эйлера</a> </div>
<div><a href="/canonPrimeNums">Лабораторная работа каноническое разложение</a> </div>
<div><a href="/powMod">Лабораторная работа возведение в степень</a> </div>
<div><a href="/euclid">Лабораторная работа алгоритм Евклида</a> </div>
<div><a href="/euclidBig">Лабораторная работа расширенный алгоритм Евклида</a> </div>
<div><a href="/RSA">Лабораторная работа расширенный алгоритм RSA</a></div>
<div>Лабораторная работа 3</div>
<div><a href="/lab3.1">Лабораторная работа полиномиальная форма</a> </div>
<div><a href="/lab3.2">Лабораторная работа умножения двух элементов</a> </div>
<div><a href="/lab3.3">Лабораторная работа поиска мультипликативного обратного</a> </div>
<div><a href="/rijndael">Лабораторная работа rijndael</a> </div>
</body>
</html>
