<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/main">Main Page</a>
<div>Лабораторная работа 2.2</div>
<div>
    <div>
        <label>Выведите на экран приведенную систему вычетов по модулю m</label>
    </div>
    <form method = "post">
        <input type="text" name = "number" placeholder="Введите m">
        <button type="submit">Вычислить</button>
    </form>

    <div>Результат: {{num}}</div>
</div>

</body>
</html>
