<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/main">Main Page</a>
<div>Лабораторная работа 6</div>
<div>
    <div>
        <label>Дано 2^p разрядное целое число. «Поксорить» все биты этого числа друг с
            другом. Пример.101110001 → 1; 11100111 → 0 </label>
    </div>
    <form method = "post">
        <input type="text" name = "number" placeholder="Введите число">
        <button type="submitFirst">вычислить</button>
    </form>

    <div>Результат: {{num}}</div>
</div>

</body>
</html>
