<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/main">Main Page</a>
<div>Лабораторная работа Вернам</div>
<div>
    <div>
        <label>Загрузить файл</label>
    </div>
    <form method = "post" enctype="multipart/form-data" action="/upload">
             <input type="file" name="file" value="выбрать файл"><br />
             <label>название для файла</label>
             <input type="text" name="name"><br /> <br />
            <input type="submit" value="Upload">
        <br /> <br />
    </form>
    <div>
        <label>Закодировать файл</label>
    </div>
    <form method = "post" enctype="multipart/form-data" action="/encode">
        <input type="file" name="file" value="выбрать файл"><br />
        <label>название для файла</label>
        <input type="text" name="name">
        <input type="text" name="key" value="ключ"><br /> <br />
        <input type="submit" value="Encode">
        <br /> <br />
    </form>
    <div>
        <label>Раскодировать файл</label>
    </div>
    <form method = "post" enctype="multipart/form-data" action="/decode">
        <input type="file" name="file" value="выбрать файл"><br />
        <label>название для файла</label>
        <input type="text" name="name">
        <input type="text" name="key" value="ключ"><br /> <br />
        <input type="submit" value="Decode">
    </form>

<!--    <div>Результат: {{num}}</div>-->
</div>

</body>
</html>
